@import "tailwindcss";

:root {
  /*texts btns texts etc...*/
  --primary: #0b0a09;
  --primary-foreground: #fff;
  --background: #fff;
  --foreground: #f6f5f4;

  --secondary: #545352;

  --destructive: #c22b51;
  --success: #649560;

  /*use for UI elements border ex: badges*/
  --border: #545352;

  /* use for focus rings, highlights */
  --ring: #767573;

  /* use for border radius in buttons, inputs, cards */
  --radius: 0.25;

  /*use for form elements borders*/
  --input: #545352;
}

:root {
  --header-h: 107px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --font-sans: "Roboto", sans-serif;
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  background: var(--background);
  color: var(--primary);
}

.theme-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
